# Node.js
node_modules/

# Next.js
.next/
.out/

# Dependencias de instalación
package-lock.json
yarn.lock

# Entornos de desarrollo
.env

# Archivos de configuración de IDEs
.vscode/
.idea/

# Otros archivos innecesarios
*.log
